@import '../style/functions';
@import '../style/theme';
@import '../style/mixins';

$select-prefix: 'dk-select';

.#{$select-prefix} {
  @include reset-component();
  position: relative;
  display: inline-block;
  color: $select-color;

  input {
    outline: 0;
    font-size: $font-size-base;
    color: $select-color;

    &::placeholder {
      color: $input-placeholder-color;
      opacity: 1;
    }
  }

  &-input {
    min-width: $select-width;
    padding: $input-padding-y $input-padding-x;
    padding-right: 30px;
    border: 1px solid $select-border-color;
    border-radius: $border-radius;
    transition: $select-transition;

    &:focus {
      background-color: $select-focus-bg;
      border-color: $select-focus-border-color;
      box-shadow: $select-focus-box-shadow;
    }

    &:hover {
      border-color: $select-hover-border-color;
    }
  }

  &-icon {
    position: absolute;
    width: $select-icon-size;
    height: $select-icon-size;
    right: 12px;
    top: 50%;
    margin-top: -$select-icon-size / 2;
    font-size: $select-icon-size;
    color: $select-icon-color;
    user-select: none;
    z-index: 1;
    transform: rotate(0deg);
    transition: transform 200ms linear;

    &-visible {
      transform: rotate(180deg);
    }
  }

  &-panel {
    position: absolute;
    top: 100%;
    left: 0;
    width: $select-width;
    max-height: $select-panel-height;
    margin-top: 5px;
    box-shadow: $select-panel-shadow;
    background-color: $white;
    border-radius: $border-radius;
    transition: $select-panel-transition;
    transform-origin: center top;
    box-sizing: border-box;
    z-index: $zindex-select;
    overflow: scroll;

    &-enter {
      opacity: 0;
      transform: scaleY(0);
    }

    &-enter-active {
      opacity: 1;
      transform: scaleY(1);
    }

    &-exit {
      opacity: 1;
      transform: scaleY(1);
    }

    &-exit-active {
      opacity: 0;
      transform: scaleY(0);
    }
  }

  &-option {
    height: $select-option-height;
    padding: $input-padding-y $input-padding-x;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    background: $white;
    box-sizing: border-box;
    color: $select-color;
    line-height: 20px;
    transition: $select-option-transition;

    &:hover {
      background: $select-option-hover-bg;
    }

    &-active {
      background: $select-option-active-bg;
      font-weight: bold;
      transition: none;

      &:hover {
        background: $select-option-active-bg;
      }
    }

    &-disabled {
      color: lighten($select-color, 20%);
      cursor: not-allowed;
      transition: none;

      &:hover {
        background: $white;
      }
    }
  }

  &-disabled {
    pointer-events: none;

    input {
      background: $select-disabled-bg;
      opacity: $select-disabled-opacity;
      border-color: $select-disabled-border-color;
    }
  }

  &-group {

    &-title {
      display: flex;
      align-items: center;
      height: $select-option-group-height;
      opacity: 0.7;
      color: $select-color;
      padding-left: $input-padding-x;
    }

    &-list {
      .#{$select-prefix}-option {
        padding-left: $input-padding-x + 8px;
      }
    }
  }
}