@import '../style/functions';
@import '../style/theme';
@import '../style/mixins';

$checkbox-prefix: 'dk-checkbox';

.#{$checkbox-prefix} {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  cursor: pointer;

  &-input {
    outline: none;
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    z-index: -1;
    opacity: 0;
  }

  &-indicator {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: $checkbox-size;
    height: $checkbox-size;
    overflow: hidden;
    border: 1px solid $border-color;
    border-radius: $checkbox-border-radius;
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
    transition: $checkbox-indicator-transtion;
    // transition: all .3s;

    & + span {
      padding-left: $checkbox-padding-x;
      line-height: 18px;
      vertical-align: middle;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 20%;
      left: 2px;
      height: 35%;
      width: $checkbox-size - 4;
      border: 2px solid #fff;
      border-top: 0;
      border-right: 0;
      transition: all .1s $ease-in-back, opacity .1s;
      transform: rotate(-45deg);
      opacity: 0;
    }


    &:hover {
      border-color: $checkbox-active-color;
    }
  }

  &-group {
    display: inline-block;
    margin: 0;
    padding: 0;

    &-item {
      margin-right: $checkbox-margin-right;
    }
  }

  &-checked &-indicator {
    border-color: $checkbox-active-color;
    background-color: $checkbox-active-color;

    &:after {
      transition: all .2s $ease-out-back, opacity .1s;
      opacity: 1;
    }
  }

  &-disabled {
    pointer-events: none;
  }

  &-indeterminate &-indicator {
    border-color: $checkbox-active-color;
    background: $checkbox-active-color;

    &:after {
      border-left-width: 0;
      border-color: #fff;
      transform: rotate(0deg);
      opacity: 1;
    }
  }

  &-disabled {
    .#{$checkbox-prefix}-indicator {
      border-color: $gray-500;
      background-color: $input-disabled-bg;

      &:after {
        border-color: $gray-500;
      }
    }
  }
}