.app-example {
  width: 100%;
  border: 1px solid #edf2f9;
  background-color: #fff;
  margin-top: 24px;

  &:nth-of-type(1) {
    margin-top: 0;
  }
}

.app-example-content {
  padding: 42px 24px 50px;
}

.app-example-info {
  position: relative;
  padding: 16px 24px;
  border-top: 1px solid #edf2f9;
}

.app-example-title {
  position: absolute;
  top: -15px;
  left: 16px;
  height: 30px;
  padding: 0 8px;
  line-height: 30px;
  font-size: 16px;
  background-color: #fff;
}

.app-example-desc {
  color: #95aac9;
}

.app-example-code {
  padding: 16px 24px;
  font-size: 87.5%;
  border-top: 1px dashed #edf2f9;
}