@import '../../../src/style/theme.scss';

.app-header {
  height: 72px;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-github {
  width: 32px;
  height: 32px;
}

.header-link {
  padding-right: 24px;
}