.app-page {
  width: 100%;
  padding: 24px;

  p {
    color: #95aac9;
    margin-top: 6px;
  }
}

.app-page-info {
  width: 100%;
}

#demos {
  margin-bottom: 20px;
}

// Grid
//
@mixin grid-make-item() {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  background: #2c7be5;
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: #fff;
}
.grid-list {
  div[class*="dk-grid-col-"] {
    margin-bottom: 16px;

    &::after {
      content:'';
      @include grid-make-item;
    }
  }
}

.grid-title {
  margin-top: 24px;
  color: #2c7be5;
}

.grid-title-first {
  margin-top: 0;
}

.grid-nested,
.grid-alignment {
  .grid-box {
    @include grid-make-item;
  }

  .grid-box-nested {
    background: #036;
    border-color: #2c7be5;
  }

  .grid-box-first {
    background: #06C;
    border-color: #2c7be5;
  }

  .grid-box-large {
    height: 100px;
  }
}

// Button
//
.button-list {
  margin-top: 12px;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  button {
    margin-right: 12px;
  }
}

// Alert
//
.alert-list {
  margin-top: 12px;
}

// Icon
//
.icon-list {
  width: 100%;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.icon-item-wrapper {
  float: left;
  width: 20%;
  padding: 8px;
}

.icon-item {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f2f4f5;
  border-radius: 5px;
  cursor: pointer;

  &:nth-of-type(4n) {
    margin-right: 0;
  }

  >span {
    margin-left: 10px;
  }
}

// Message
//
.message-wrapper {
  button {
    margin-right: 10px;
  }
}

// Spin
//
.spin-list {
  display: flex;
  align-items: center;

  .dk-spin {
    margin-right: 20px;
  }
}