
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  overflow: scroll;

  &-logo {
    display: flex;
    width: 100%;
    height: 90px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &-img {
      width: 54.5px;
      height: 40px;
      margin-right: 7px;
    }

    &-title {
      color: #2c7be5;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &-menu {
    width: 100%;
  }
}
