.example {
  width: 100%;
  border: 1px solid #d2ddec;
  background-color: #fff;
  margin-top: 24px;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  // prism code css
  code[class*="language-"] {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    border-radius: 0;
  }
  code[class*="language-"],
  pre[class*="language-"] {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 2;
    hyphens: none;
    color: #ccc;
  }

  // pre[class*="language-"] {
  //   padding: 16px 24px;
  //   margin-bottom: 0;
  // }

  // :not(pre)>code[class*="language-"],
  // pre[class*="language-"] {
  //   background-color: #12263f;
  // }

  :not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
  }

  .token.comment,
  .token.block-comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #999;
  }

  .token.punctuation {
    color: #569cd6;
  }

  .token.tag,
  .token.attr-name,
  .token.namespace,
  .token.deleted {
    color: #e2777a;
  }

  .token.function-name {
    color: #6196cc;
  }

  .token.boolean,
  .token.number,
  .token.function {
    color: #f08d49;
  }

  .token.property,
  .token.class-name,
  .token.constant,
  .token.symbol {
    color: #569cd6;
  }

  .token.selector,
  .token.important,
  .token.atrule,
  .token.keyword,
  .token.builtin {
    color: #cc99cd;
  }

  .token.string,
  .token.char,
  .token.attr-value,
  .token.regex,
  .token.variable {
    color: #7ec699;
  }

  .token.operator,
  .token.entity,
  .token.url {
    color: #67cdcc;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  .token.inserted {
    color: green;
  }

}

.example-code {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;

  &-exit,
  &-enter-done {
    height: auto;
  }

  &-exit-done {
    height: 0;
  }

  &-enter {
    height: 0;
  }
}

.example-content {
  padding: 24px 24px 32px;
}

.example-info {
  position: relative;
  padding: 16px 30px 16px 24px;
  border-top: 1px solid #d2ddec;
}

.example-title {
  position: absolute;
  top: -15px;
  left: 16px;
  height: 30px;
  padding: 0 8px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
}

.example-subtitle {
  color: #95aac9;
  line-height: 26px;

  > p {
    margin: 0;
    padding: 0;
  }
}

.example-control {
  position: absolute;
  right: 10px;
  bottom: 16px;
  color: #95aac9;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: #888;
  }
}

// Layout
//
.layout-list {
  text-align: center;

  >.dk-layout {
    margin-bottom: 30px;
  }

  .dk-layout-header,
  .dk-layout-footer {
    background: #2c7be5;
    color: #fff;
    height: 64px;
    line-height: 64px;
  }

  .dk-layout-content {
    background: #036;
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }

  .dk-layout-sidebar {
    background: #06C;
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }
}

// Grid
//
@mixin grid-make-item() {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  background: #2c7be5;
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: #fff;
}

.grid-list {
  div[class*="dk-grid-col-"] {
    margin-bottom: 16px;

    &::after {
      content: '';
      @include grid-make-item;
    }
  }
}

.grid-title {
  margin-top: 24px;
  color: #2c7be5;
}

.grid-title-first {
  margin-top: 0;
}

.grid-nested,
.grid-alignment {
  .grid-box {
    @include grid-make-item;
  }

  .grid-box-nested {
    background: #036;
    border-color: #2c7be5;
  }

  .grid-box-first {
    background: #06C;
    border-color: #2c7be5;
  }

  .grid-box-large {
    height: 100px;
  }
}

// Button
//
.button-list {
  button {
    margin-right: 12px;
    margin-bottom: 12px;
  }
}

// Checkbox
//
.checkbox-list {
  >label {
    margin-right: 20px;
  }
}

.checkbox-checkall {
  border-bottom: 1px solid #e3ebf6;
  padding-bottom: 10px;
}

// Alert
//
.alert-list {
  margin-top: 12px;
}

// Icon
//
.icon-list {
  width: 100%;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.icon-item-wrapper {
  float: left;
  width: 1 / 5 * 100%;
  padding: 5px;
  box-sizing: border-box;
}

.icon-item {
  display: flex;
  flex-direction: column;
  padding: 15px 5px 8px 5px;
  border: 1px solid #e3ebf6;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;

  >span {
    display: block;
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:hover {
    color: #2c7be5;
    background-color: #f9fbfd;
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
  }
}

// Message
//
.message-wrapper {
  button {
    margin-right: 10px;
  }
}

// Spin
//
.spin-list {
  display: flex;
  align-items: center;

  .dk-spin {
    margin-right: 20px;
  }
}

// Switch
//
.switch-list {
  display: flex;
  flex-direction: row;
  align-items: center;

  .dk-switch {
    margin-right: 10px;
  }
}

// Menu
//
.menu-vertical-item {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.menu-horizontal-item {
  margin-bottom: 20px;
}

.menu-theme {

  &-switch {
    margin-bottom: 20px;
  }
}

// Pagination
//
.pagination-wrapper {
  .dk-pagination {
    margin-bottom: 10px;
  }
}

// Calendar
//
.calendar-item {
  padding: 12px 0;

  &:last-child {
    border-bottom: 0;
  }

  p {
    margin-bottom: 7px;
    font-size: 16px;
  }
}

// Tooltip & Popover
//
.popover-box,
.tooltip-box {
  width: 400px;
}

.popover-button,
.tooltip-button {
  width: 100px;
  margin: 4px;
}

.popover-box-top,
.tooltip-box-top {
  text-align: center;
}

.popover-box-left,
.tooltip-box-left {
  float: left;
  width: 88px;

  .popover-button,
  .tooltip-button {
    margin-left: 0;
  }
}

.popover-box-right,
.tooltip-box-right {
  float: right;
  width: 88px;

  .popover-button,
  .tooltip-button {
    margin-right: 0;
  }
}

.popover-box-bottom,
.tooltip-box-bottom {
  clear: both;
  text-align: center;
}

.input-list {
  .dk-input {
    width: 200px;
    margin-bottom: 10px;
  }
}

// Modal
//
.modal-btn {
  button {
    margin-right: 10px;
  }
}