@import 'dashkit-ui/style/theme.scss';

#demos {
  margin-bottom: 20px;
}

.index-title {
  padding-top: 30px;
  text-align: center;
}

.index-desc {
  color: #95aac9;
  font-size: 18px;
  text-align: center;
}