@import '../../../src/style/theme.scss';

.app-page {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;


  p {
    margin-top: 6px;
    margin-bottom: 16px;
    color: $text-color;
  }
}

.app-page-info {
  width: 100%;
}

#demos {
  margin-bottom: 20px;
}
