@import 'dashkit-ui/style/theme.scss';

.app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  border-right: 1px solid $border-color;
  overflow: scroll;
  z-index: 9;
  background-color: #fff;

}

.sidebar{

  &-logo {
    position: relative;
    display: flex;
    width: 100%;
    height: 72px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // box-shadow: 0 1px 9px -3px rgba(0, 0, 0, .2);
    z-index: 1;

    &-img {
      width: 54.5px;
      height: 40px;
      margin-right: 7px;
    }

    &-title {
      color: #2c7be5;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &-menu {
    width: 100%;
    border-right: none;
  }

  // &-switch {
  //   width: 100%;
  //   height: 48px;
  // }
}
