.icon-list {
  width: 100%;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.icon-item-wrapper {
  float: left;
  width: 20%;
  padding: 8px;
}

.icon-item {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f2f4f5;
  border-radius: 5px;
  cursor: pointer;

  &:nth-of-type(4n) {
    margin-right: 0;
  }

  > span {
    margin-left: 10px;
  }
}