@import '../style/functions';
@import '../style/theme';
@import '../style/mixins';

$tooltip-prefix: 'dk-tooltip';

.#{$tooltip-prefix} {
  position: absolute;
  padding: $tooltip-padding;
  border-radius: $tooltip-border-radius;
  line-height: 1.2;
  min-width: 10px;
  background: $tooltip-dark-bg;
  color: $tooltip-dark-color;

  &-arrow,
  &-arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  &-arrow {
    border-width: $tooltip-arrow-size;
  }

  &-arrow::after {
    content: '';
    border-width: 5px;
  }

  &-top {

  }
}
