@import '../style/functions';
@import '../style/theme';
@import '../style/mixins';

$tooltip-prefix: 'dk-tooltip';

.#{$tooltip-prefix} {
  position: absolute;
  border-radius: 4px;
  line-height: 1.2;
  min-width: 10px;
}
