@import '../style/functions';
@import '../style/theme';
@import '../style/mixins';

$menu-prefix-cls: 'dk-menu';

.#{$menu-prefix-cls} {
  position: relative;
  outline: none;
  margin: 0;
  padding: 0;
  list-style: none;
  width: $menu-width;
  height: 100%;
  background: $menu-bg;
  border-right: 1px solid $menu-border-color;

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-item,
  &-submenu-title {
    position: relative;
    display: flex;
    width: 100%;
    height: $menu-item-height;
    padding: 0 $menu-item-padding-x;
    margin-bottom: 0;
    color: $menu-item-color;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      background-color: $menu-item-active-bg;
    }

    &-active {
      color: $menu-item-active-color;
    }

    &-disabled {
      opacity: $menu-disabled-opacity;
      pointer-events: none;
      cursor: not-allowed;
      background: none;
    }
  }

  &-icon {
    margin-right: $menu-item-icon-margin-x;
    font-size: $menu-item-icon-size;
  }

  &-submenu &-item {
    padding-left: $menu-item-padding-x + $menu-item-icon-size + $menu-item-icon-margin-x;
  }

  &-arrow {
    position: absolute;
    right: $menu-item-padding-x;
    font-size: $menu-item-icon-size;
    transform: rotate(0);
    transition: transform .3s ease;

    &-active {
      transform: rotate(-180deg);
    }
  }

  &-submenu &-submenu {
    padding-left: $menu-item-icon-size + $menu-item-icon-margin-x;
  }

  &-submenu-list {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;

    &-enter-done {
      height: auto;
    }

    &-exit {
      height: auto;
    }

    &-exit-done {
      height: 0;
    }
  }
}
