@import '../style/functions';
@import '../style/theme';
@import '../style/mixins';

$menu-prefix: 'dk-menu';

.#{$menu-prefix} {
  position: relative;
  outline: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $menu-bg;
  transition: background-color .3s, width .2s;

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-item,
  &-submenu-title {
    position: relative;
    display: flex;
    margin-bottom: 0;
    color: $menu-item-color;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s ease-in-out;

    &:before {
      content: '';
      position: absolute;
      transition: background-color .2s ease-in-out;
    }

    &-active {
      color: $menu-item-active-color;

      &:before {
        background-color: $menu-item-active-color;
      }
    }

    &-disabled {
      opacity: $menu-disabled-opacity;
      pointer-events: none;
    }
  }

  &-icon {
    width: $menu-item-icon-size;
    height: $menu-item-icon-size;
    margin-right: $menu-item-icon-margin-x;
    font-size: $menu-item-icon-size;
  }

  &-submenu-list {
    height: 0;
    transition: height 0.35s ease;

    &-opened,
    &-exit,
    &-enter-done {
      height: auto;
    }

    &-exit-done {
      height: 0;
    }
  }

  &-arrow {
    font-size: $menu-item-icon-size;
    transform: rotate(0);
    transition: transform .35s ease;

    &-active {
      transform: rotate(-180deg);
    }
  }

  &-vertical {
    width: $menu-width;
    height: 100%;
    border-right: 1px solid $menu-border-color;

    .#{$menu-prefix}-item,
    .#{$menu-prefix}-submenu-title {
      width: 100%;
      height: $menu-vertical-item-height;
      padding: 0 $menu-vertical-item-padding-x;

      &:hover {
        background-color: $menu-item-active-bg;
      }

      &:before {
        top: 8px;
        bottom: 8px;
        left: 0;
        width: 2px;
      }
    }

    .#{$menu-prefix}-arrow {
      position: absolute;
      right: $menu-vertical-item-padding-x;
    }

    .#{$menu-prefix}-submenu-list {
      overflow: hidden;
    }

    .#{$menu-prefix}-submenu .#{$menu-prefix}-item {
      padding-left: $menu-vertical-item-padding-x + $menu-item-icon-size + $menu-item-icon-margin-x;
    }

    .#{$menu-prefix}-submenu .#{$menu-prefix}-submenu .#{$menu-prefix}-submenu-title {
      padding-left: $menu-vertical-item-padding-x + $menu-item-icon-size + $menu-item-icon-margin-x;
    }

    .#{$menu-prefix}-submenu .#{$menu-prefix}-submenu .#{$menu-prefix}-item {
      padding-left: $menu-vertical-item-padding-x * 2 + $menu-item-icon-size + $menu-item-icon-margin-x;
    }
  }


  &-horizontal {
    @include clearfix();
    border-bottom: 1px solid $menu-border-color;

    .#{$menu-prefix}-item,
    .#{$menu-prefix}-submenu-title {
      float: left;
      height: $menu-horizontal-item-height;
      padding: 0 $menu-horizontal-item-padding-x;

      &:before {
        bottom: -1px;
        left: 0;
        right: 0;
        height: 2px;
        z-index: 9;
      }

      &:hover {
        color: $menu-item-active-color;
      }
    }

    .#{$menu-prefix}-arrow {
      position: relative;
      margin-left: $menu-item-icon-margin-x;
    }

    .#{$menu-prefix}-submenu-list {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: $menu-width - 40px;
      margin-top: 7px;
      background-color: $menu-bg;
      z-index: 10;
      box-shadow: $menu-shadow;
      max-height: $menu-horizontal-item-height * 7;
      overflow: auto;

      .#{$menu-prefix}-submenu,
      .#{$menu-prefix}-item,
      .#{$menu-prefix}-submenu-title {
        float: none;
        width: 100%;
        height: $menu-vertical-item-height;

        &:hover {
          background-color: $menu-item-active-bg;
          color: $menu-item-color;
        }

        &:before {
          top: 8px;
          bottom: 8px;
          left: 1px;
          width: 2px;
          height: auto;
        }
      }

      .#{$menu-prefix}-arrow {
        position: absolute;
        right: $menu-vertical-item-padding-x;
        transform: rotate(-90deg);
      }

      .#{$menu-prefix}-submenu-list {
        top: 0;
        left: 100%;
      }

    }
  }
}

.#{$menu-prefix}-dark {
  border-color: $menu-dark-border-color;
  background-color: $menu-dark-bg;

  .#{$menu-prefix}-item,
  .#{$menu-prefix}-submenu-title {
    color: $menu-dark-item-color;

    &-active {
      color: $menu-dark-item-active-color;
    }

    &:hover {
      background-color: $menu-dark-item-active-bg;
      color: $menu-dark-item-active-color;
    }
  }

  .#{$menu-prefix}-submenu-list {
    background-color: $menu-dark-bg;

    .#{$menu-prefix}-submenu,
    .#{$menu-prefix}-item,
    .#{$menu-prefix}-submenu-title {
      float: none;
      width: 100%;
      height: $menu-vertical-item-height;

      &:hover {
        background-color: $menu-dark-item-active-bg;
        color: $menu-dark-item-color;
      }
    }
  }
}
