@import '../style/functions';
@import '../style/theme';
@import '../style/mixins';

$prefix-cls: 'dk-card';

.#{$prefix-cls} {
  @include reset-component();
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;

  &-header {
    padding: $card-padding-y $card-padding-x;
    margin-bottom: 0;
    border-bottom: $card-border-width solid $card-border-color;
    background: $card-header-bg;
    border-radius: $card-border-radius $card-border-radius 0 0;
  }

  &-body {
    flex: 1 1 auto;
    padding: $card-padding-y $card-padding-x;
  }

  &-footer {
    padding: $card-padding-y $card-padding-x;
    border-top: $card-border-width solid $card-border-color;
    border-radius: $card-border-radius $card-border-radius 0 0;
  }
}
