@import '../style/functions';
@import '../style/theme';
@import '../style/mixins';

$calendar-prefix: 'dk-calendar';

.#{$calendar-prefix} {
  position: relative;
  display: inline-block;
  width: 220px;

  &-input {
    padding-right: 30px;
    outline: none;
  }

  &-icon {
    position: absolute;
    width: $calendar-icon-size;
    height: $calendar-icon-size;
    right: 12px;
    top: 50%;
    margin-top: -$calendar-icon-size / 2;
    font-size: $calendar-icon-size;
    color: $calendar-icon-color;
    user-select: none;
    z-index: 1;
  }

  &-content {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    padding: $calendar-container-padding;
    box-shadow: $calendar-shadow;
    background-color: $white;
    border-radius: $border-radius;
    z-index: 2;

    span {
      user-select: none;
    }
  }

  &-day-picker {
    width: $calendar-item-size * 7;
    text-align: center;
  }

  &-day-header {
    display: flex;
    padding: 4px 8px;
    align-items: center;
  }

  &-day-icon {
    width: 14px;
    height: 14px;
    font-size: 14px;
  }

  &-day-select {
    display: flex;
    flex: 1;
    justify-content: center;

    > span {
      display: inline-block;
      color: $gray-800;
      font-weight: bold;
      padding: 0 3px;
    }
  }


  &-day-week {
    width: 100%;
    // border-bottom: 1px solid $calendar-border-color;

    > span {
      display: inline-block;
      width: $calendar-item-size;
      height: $calendar-item-size;
      line-height: $calendar-item-size;
      color: $gray-800;
      font-weight: bold;
      font-size: 90%;
    }
  }

  &-day-list {
    position: relative;
    z-index: 10;
  }

  &-day-item {
    display: inline-block;
    width: $calendar-item-size;
    height: $calendar-item-size;
    color: $calendar-color;
    border: 1px solid transparent;
    font-size: $font-size-base;
    line-height: $calendar-item-size;
    cursor: pointer;
    border-radius: 6px;

    &:hover {
      background-color: $calendar-item-bg;
      border-color: $calendar-border-color;
    }
  }
}