// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color) {
  $background: $color;
  $border: $color;
  $hover-background: darken($background, 7.5%);
  $hover-border: darken($border, 10%);
  $active-background: darken($background, 10%);
  $active-border: darken($border, 12.5%);

  color: color-yiq($background);
  border-color: $border;
  @include gradient-bg($background);

  @include hover {
    color: color-yiq($hover-background);
    @include gradient-bg($hover-background);
    border-color: $hover-border;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
  }

  &.disabled,
  &:disabled {
    color: color-yiq($background);
    background-color: $background;
    border-color: $border;
  }
}

@mixin button-outline-variant($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color) {
  color: $color;
  background-color: transparent;
  background-image: none;
  border-color: $color;

  &:hover {
    color: $color-hover;
    background-color: $active-background;
    border-color: $active-border;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 $btn-focus-width rgba($color, .5);
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }
}

// Button sizes
@mixin button-size($height, $padding-x, $font-size, $line-height, $border-radius) {
  height: $height;
  padding: 0 $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
