@import '../style/functions.scss';
@import '../style/theme.scss';
@import '../style/mixins.scss';

$icon-base-url: '//yuanzhaohao.github.io/dashkit-fonts';
@font-face {
  font-family: 'feather';
  src: url('#{$icon-base-url}/feather.eot');
  src: url('#{$icon-base-url}/feather.eot#iefix') format('embedded-opentype'),
    url('#{$icon-base-url}/feather.woff') format('woff'),
    url('#{$icon-base-url}/feather.ttf') format('truetype'),
    url('#{$icon-base-url}/feather.svg#feather') format('svg');
}

.#{$icon-prefix-cls} {
  display: inline-block;
  font-size: $icon-font-size;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &-disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  &:before {
    display: block;
    font-family: 'feather' !important;
  }

  &-alert-octagon:before {
    content: "\e81b";
  }

  &-alert-circle:before {
    content: "\e81c";
  }

  &-activity:before {
    content: "\e81d";
  }

  &-alert-triangle:before {
    content: "\e81e";
  }

  &-align-center:before {
    content: "\e81f";
  }

  &-airplay:before {
    content: "\e820";
  }

  &-align-justify:before {
    content: "\e821";
  }

  &-align-left:before {
    content: "\e822";
  }

  &-align-right:before {
    content: "\e823";
  }

  &-arrow-down-left:before {
    content: "\e824";
  }

  &-arrow-down-right:before {
    content: "\e825";
  }

  &-anchor:before {
    content: "\e826";
  }

  &-aperture:before {
    content: "\e827";
  }

  &-arrow-left:before {
    content: "\e828";
  }

  &-arrow-right:before {
    content: "\e829";
  }

  &-arrow-down:before {
    content: "\e82a";
  }

  &-arrow-up-left:before {
    content: "\e82b";
  }

  &-arrow-up-right:before {
    content: "\e82c";
  }

  &-arrow-up:before {
    content: "\e82d";
  }

  &-award:before {
    content: "\e82e";
  }

  &-bar-chart:before {
    content: "\e82f";
  }

  &-at-sign:before {
    content: "\e830";
  }

  &-bar-chart-2:before {
    content: "\e831";
  }

  &-battery-charging:before {
    content: "\e832";
  }

  &-bell-off:before {
    content: "\e833";
  }

  &-battery:before {
    content: "\e834";
  }

  &-bluetooth:before {
    content: "\e835";
  }

  &-bell:before {
    content: "\e836";
  }

  &-book:before {
    content: "\e837";
  }

  &-briefcase:before {
    content: "\e838";
  }

  &-camera-off:before {
    content: "\e839";
  }

  &-calendar:before {
    content: "\e83a";
  }

  &-bookmark:before {
    content: "\e83b";
  }

  &-box:before {
    content: "\e83c";
  }

  &-camera:before {
    content: "\e83d";
  }

  &-check-circle:before {
    content: "\e83e";
  }

  &-check:before {
    content: "\e83f";
  }

  &-check-square:before {
    content: "\e840";
  }

  &-cast:before {
    content: "\e841";
  }

  &-chevron-down:before {
    content: "\e842";
  }

  &-chevron-left:before {
    content: "\e843";
  }

  &-chevron-right:before {
    content: "\e844";
  }

  &-chevron-up:before {
    content: "\e845";
  }

  &-chevrons-down:before {
    content: "\e846";
  }

  &-chevrons-right:before {
    content: "\e847";
  }

  &-chevrons-up:before {
    content: "\e848";
  }

  &-chevrons-left:before {
    content: "\e849";
  }

  &-circle:before {
    content: "\e84a";
  }

  &-clipboard:before {
    content: "\e84b";
  }

  &-chrome:before {
    content: "\e84c";
  }

  &-clock:before {
    content: "\e84d";
  }

  &-cloud-lightning:before {
    content: "\e84e";
  }

  &-cloud-drizzle:before {
    content: "\e84f";
  }

  &-cloud-rain:before {
    content: "\e850";
  }

  &-cloud-off:before {
    content: "\e851";
  }

  &-codepen:before {
    content: "\e852";
  }

  &-cloud-snow:before {
    content: "\e853";
  }

  &-compass:before {
    content: "\e854";
  }

  &-copy:before {
    content: "\e855";
  }

  &-corner-down-right:before {
    content: "\e856";
  }

  &-corner-down-left:before {
    content: "\e857";
  }

  &-corner-left-down:before {
    content: "\e858";
  }

  &-corner-left-up:before {
    content: "\e859";
  }

  &-corner-up-left:before {
    content: "\e85a";
  }

  &-corner-up-right:before {
    content: "\e85b";
  }

  &-corner-right-down:before {
    content: "\e85c";
  }

  &-corner-right-up:before {
    content: "\e85d";
  }

  &-cpu:before {
    content: "\e85e";
  }

  &-credit-card:before {
    content: "\e85f";
  }

  &-crosshair:before {
    content: "\e860";
  }

  &-disc:before {
    content: "\e861";
  }

  &-delete:before {
    content: "\e862";
  }

  &-download-cloud:before {
    content: "\e863";
  }

  &-download:before {
    content: "\e864";
  }

  &-droplet:before {
    content: "\e865";
  }

  &-edit:before {
    content: "\e867";
  }

  &-edit-3:before {
    content: "\e868";
  }

  &-edit-2:before {
    content: "\e866";
  }

  &-external-link:before {
    content: "\e869";
  }

  &-eye:before {
    content: "\e86a";
  }

  &-feather:before {
    content: "\e86b";
  }

  &-facebook:before {
    content: "\e86c";
  }

  &-file-minus:before {
    content: "\e86d";
  }

  &-eye-off:before {
    content: "\e86e";
  }

  &-fast-forward:before {
    content: "\e86f";
  }

  &-file-text:before {
    content: "\e870";
  }

  &-film:before {
    content: "\e871";
  }

  &-file:before {
    content: "\e872";
  }

  &-file-plus:before {
    content: "\e873";
  }

  &-folder:before {
    content: "\e874";
  }

  &-filter:before {
    content: "\e875";
  }

  &-flag:before {
    content: "\e876";
  }

  &-globe:before {
    content: "\e877";
  }

  &-grid:before {
    content: "\e878";
  }

  &-heart:before {
    content: "\e879";
  }

  &-home:before {
    content: "\e87a";
  }

  &-github:before {
    content: "\e87b";
  }

  &-image:before {
    content: "\e87c";
  }

  &-inbox:before {
    content: "\e87d";
  }

  &-layers:before {
    content: "\e87e";
  }

  &-info:before {
    content: "\e87f";
  }

  &-instagram:before {
    content: "\e880";
  }

  &-layout:before {
    content: "\e881";
  }

  &-link-2:before {
    content: "\e882";
  }

  &-life-buoy:before {
    content: "\e883";
  }

  &-link:before {
    content: "\e884";
  }

  &-log-in:before {
    content: "\e885";
  }

  &-list:before {
    content: "\e886";
  }

  &-lock:before {
    content: "\e887";
  }

  &-log-out:before {
    content: "\e888";
  }

  &-loader:before {
    content: "\e889";
  }

  &-mail:before {
    content: "\e88a";
  }

  &-maximize-2:before {
    content: "\e88b";
  }

  &-map:before {
    content: "\e88c";
  }

  &-map-pin:before {
    content: "\e88e";
  }

  &-menu:before {
    content: "\e88f";
  }

  &-message-circle:before {
    content: "\e890";
  }

  &-message-square:before {
    content: "\e891";
  }

  &-minimize-2:before {
    content: "\e892";
  }

  &-mic-off:before {
    content: "\e893";
  }

  &-minus-circle:before {
    content: "\e894";
  }

  &-mic:before {
    content: "\e895";
  }

  &-minus-square:before {
    content: "\e896";
  }

  &-minus:before {
    content: "\e897";
  }

  &-moon:before {
    content: "\e898";
  }

  &-monitor:before {
    content: "\e899";
  }

  &-more-vertical:before {
    content: "\e89a";
  }

  &-more-horizontal:before {
    content: "\e89b";
  }

  &-move:before {
    content: "\e89c";
  }

  &-music:before {
    content: "\e89d";
  }

  &-navigation-2:before {
    content: "\e89e";
  }

  &-navigation:before {
    content: "\e89f";
  }

  &-octagon:before {
    content: "\e8a0";
  }

  &-package:before {
    content: "\e8a1";
  }

  &-pause-circle:before {
    content: "\e8a2";
  }

  &-pause:before {
    content: "\e8a3";
  }

  &-percent:before {
    content: "\e8a4";
  }

  &-phone-call:before {
    content: "\e8a5";
  }

  &-phone-forwarded:before {
    content: "\e8a6";
  }

  &-phone-missed:before {
    content: "\e8a7";
  }

  &-phone-off:before {
    content: "\e8a8";
  }

  &-phone-incoming:before {
    content: "\e8a9";
  }

  &-phone:before {
    content: "\e8aa";
  }

  &-phone-outgoing:before {
    content: "\e8ab";
  }

  &-pie-chart:before {
    content: "\e8ac";
  }

  &-play-circle:before {
    content: "\e8ad";
  }

  &-play:before {
    content: "\e8ae";
  }

  &-plus-square:before {
    content: "\e8af";
  }

  &-plus-circle:before {
    content: "\e8b0";
  }

  &-plus:before {
    content: "\e8b1";
  }

  &-pocket:before {
    content: "\e8b2";
  }

  &-printer:before {
    content: "\e8b3";
  }

  &-power:before {
    content: "\e8b4";
  }

  &-radio:before {
    content: "\e8b5";
  }

  &-repeat:before {
    content: "\e8b6";
  }

  &-refresh-ccw:before {
    content: "\e8b7";
  }

  &-rewind:before {
    content: "\e8b8";
  }

  &-rotate-ccw:before {
    content: "\e8b9";
  }

  &-refresh-cw:before {
    content: "\e8ba";
  }

  &-rotate-cw:before {
    content: "\e8bb";
  }

  &-save:before {
    content: "\e8bc";
  }

  &-search:before {
    content: "\e8bd";
  }

  &-server:before {
    content: "\e8be";
  }

  &-scissors:before {
    content: "\e8bf";
  }

  &-share-2:before {
    content: "\e8c0";
  }

  &-share:before {
    content: "\e8c1";
  }

  &-shield:before {
    content: "\e8c2";
  }

  &-settings:before {
    content: "\e8c3";
  }

  &-skip-back:before {
    content: "\e8c4";
  }

  &-shuffle:before {
    content: "\e8c5";
  }

  &-sidebar:before {
    content: "\e8c6";
  }

  &-skip-forward:before {
    content: "\e8c7";
  }

  &-slack:before {
    content: "\e8c8";
  }

  &-slash:before {
    content: "\e8c9";
  }

  &-smartphone:before {
    content: "\e8ca";
  }

  &-square:before {
    content: "\e8cb";
  }

  &-speaker:before {
    content: "\e8cc";
  }

  &-star:before {
    content: "\e8cd";
  }

  &-stop-circle:before {
    content: "\e8ce";
  }

  &-sun:before {
    content: "\e8cf";
  }

  &-sunrise:before {
    content: "\e8d0";
  }

  &-tablet:before {
    content: "\e8d1";
  }

  &-tag:before {
    content: "\e8d2";
  }

  &-sunset:before {
    content: "\e8d3";
  }

  &-target:before {
    content: "\e8d4";
  }

  &-thermometer:before {
    content: "\e8d5";
  }

  &-thumbs-up:before {
    content: "\e8d6";
  }

  &-thumbs-down:before {
    content: "\e8d7";
  }

  &-toggle-left:before {
    content: "\e8d8";
  }

  &-toggle-right:before {
    content: "\e8d9";
  }

  &-trash-2:before {
    content: "\e8da";
  }

  &-trash:before {
    content: "\e8db";
  }

  &-trending-up:before {
    content: "\e8dc";
  }

  &-trending-down:before {
    content: "\e8dd";
  }

  &-triangle:before {
    content: "\e8de";
  }

  &-type:before {
    content: "\e8df";
  }

  &-twitter:before {
    content: "\e8e0";
  }

  &-upload:before {
    content: "\e8e1";
  }

  &-umbrella:before {
    content: "\e8e2";
  }

  &-upload-cloud:before {
    content: "\e8e3";
  }

  &-unlock:before {
    content: "\e8e4";
  }

  &-user-check:before {
    content: "\e8e5";
  }

  &-user-minus:before {
    content: "\e8e6";
  }

  &-user-plus:before {
    content: "\e8e7";
  }

  &-user-x:before {
    content: "\e8e8";
  }

  &-user:before {
    content: "\e8e9";
  }

  &-users:before {
    content: "\e8ea";
  }

  &-video-off:before {
    content: "\e8eb";
  }

  &-video:before {
    content: "\e8ec";
  }

  &-voicemail:before {
    content: "\e8ed";
  }

  &-volume-x:before {
    content: "\e8ee";
  }

  &-volume-2:before {
    content: "\e8ef";
  }

  &-volume-1:before {
    content: "\e8f0";
  }

  &-volume:before {
    content: "\e8f1";
  }

  &-watch:before {
    content: "\e8f2";
  }

  &-wifi:before {
    content: "\e8f3";
  }

  &-x-square:before {
    content: "\e8f4";
  }

  &-wind:before {
    content: "\e8f5";
  }

  &-x:before {
    content: "\e8f6";
  }

  &-x-circle:before {
    content: "\e8f7";
  }

  &-zap:before {
    content: "\e8f8";
  }

  &-zoom-in:before {
    content: "\e8f9";
  }

  &-zoom-out:before {
    content: "\e8fa";
  }

  &-command:before {
    content: "\e8fb";
  }

  &-cloud:before {
    content: "\e8fc";
  }

  &-hash:before {
    content: "\e8fd";
  }

  &-headphones:before {
    content: "\e8fe";
  }

  &-underline:before {
    content: "\e8ff";
  }

  &-italic:before {
    content: "\e900";
  }

  &-bold:before {
    content: "\e901";
  }

  &-crop:before {
    content: "\e902";
  }

  &-help-circle:before {
    content: "\e903";
  }

  &-paperclip:before {
    content: "\e904";
  }

  &-shopping-cart:before {
    content: "\e905";
  }

  &-tv:before {
    content: "\e906";
  }

  &-wifi-off:before {
    content: "\e907";
  }

  &-minimize:before {
    content: "\e88d";
  }

  &-maximize:before {
    content: "\e908";
  }

  &-gitlab:before {
    content: "\e909";
  }

  &-sliders:before {
    content: "\e90a";
  }

  &-star-on:before {
    content: "\e90b";
  }

  &-heart-on:before {
    content: "\e90c";
  }

  &-archive:before {
    content: "\e90d";
  }

  &-arrow-down-circle:before {
    content: "\e90e";
  }

  &-arrow-up-circle:before {
    content: "\e90f";
  }

  &-arrow-left-circle:before {
    content: "\e910";
  }

  &-arrow-right-circle:before {
    content: "\e911";
  }

  &-bar-chart-line-:before {
    content: "\e912";
  }

  &-bar-chart-line:before {
    content: "\e913";
  }

  &-book-open:before {
    content: "\e914";
  }

  &-code:before {
    content: "\e915";
  }

  &-database:before {
    content: "\e916";
  }

  &-dollar-sign:before {
    content: "\e917";
  }

  &-folder-plus:before {
    content: "\e918";
  }

  &-gift:before {
    content: "\e919";
  }

  &-folder-minus:before {
    content: "\e91a";
  }

  &-git-commit:before {
    content: "\e91b";
  }

  &-git-branch:before {
    content: "\e91c";
  }

  &-git-pull-request:before {
    content: "\e91d";
  }

  &-git-merge:before {
    content: "\e91e";
  }

  &-linkedin:before {
    content: "\e91f";
  }

  &-hard-drive:before {
    content: "\e920";
  }

  &-more-vertical-:before {
    content: "\e921";
  }

  &-more-horizontal-:before {
    content: "\e922";
  }

  &-rss:before {
    content: "\e923";
  }

  &-send:before {
    content: "\e924";
  }

  &-shield-off:before {
    content: "\e925";
  }

  &-shopping-bag:before {
    content: "\e926";
  }

  &-terminal:before {
    content: "\e927";
  }

  &-truck:before {
    content: "\e928";
  }

  &-zap-off:before {
    content: "\e929";
  }

  &-youtube:before {
    content: "\e92a";
  }
}