@import '../style/functions.scss';
@import '../style/theme.scss';
@import '../style/mixins.scss';

$form-prefix: 'dk-form';

.#{$form-prefix} {
  @include reset-component();

  &-item {
    margin-bottom: $form-margin-y;
    @include clearfix();

    &-content {
      position: relative;
    }

    &-label {
      // display: flex;
      float: left;
      height: $form-label-height;
      padding: $form-label-padding-y $form-label-padding-x $form-label-padding-y 0;
      // text-align: right;
      line-height: 1;
      vertical-align: middle;
      // justify-content: flex-end;
      // align-items: center;
    }

    &-label-right {
      text-align: right;
    }

    &-label-left {
      text-align: left;
    }

    &-label-top {
      float: none;
      height: auto;
      display: inline-block;
      text-align: left;
      padding: 0 0 $form-label-padding-y;
    }

    &-label-required {
      &::before {
        content: '*';
        color: $red;
        margin-right: 4px;
      }
    }

    &-tips {
      font-size: 12px;
      line-height: 1;
      padding-top: 4px;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}