@import '../style/functions';
@import '../style/theme';
@import '../style/mixins';

$btn-prefix-cls: 'dk-btn';

.#{$btn-prefix-cls} {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  transition: $btn-transition;
  @include button-size($btn-height,
  $btn-padding-x,
  $font-size-base,
  $btn-line-height,
  $btn-border-radius);

  @include hover-focus {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    pointer-events: none;
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &-link {
    font-weight: $font-weight-normal;
    color: $link-color;
    background-color: transparent;

    @include hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
      background-color: transparent;
      border-color: transparent;
    }

    &:focus,
    &.focus {
      text-decoration: $link-hover-decoration;
      border-color: transparent;
      box-shadow: none;
    }

    &:disabled,
    &.disabled {
      color: $btn-link-disabled-color;
    }
  }

  &-default {
    border-color: $border-color;
    background-color: $white;
    color: $dark;

    @include hover {
      border-color: $primary;
      // background-color: $light;
      color: $primary;
    }
  }

  &-outline-default {
    background-color: $white;
    border-color: $border-color;

    @include hover {
      border-color: $light;
      background-color: $light;
    }
  }

  &-rounded {
    border-radius: $btn-height / 2;
  }


  // Button Sizes
  //
  &-large {
    @include button-size($btn-height-lg,
    $btn-padding-x-lg,
    $font-size-lg,
    $btn-line-height-lg,
    $btn-border-radius-lg);

    &.#{$btn-prefix-cls}-rounded {
      border-radius: $btn-height-lg / 2;
    }
  }

  &-small {
    @include button-size($btn-height-sm,
    $btn-padding-x-sm,
    $font-size-sm,
    $btn-line-height-sm,
    $btn-border-radius-sm);

    &.#{$btn-prefix-cls}-rounded {
      border-radius: $btn-height-sm / 2;
    }
  }

  // Alternate buttons
  //
  @each $type,
  $color in $btn-type-colors {
    &-#{$type} {
      @include button-variant($color);
    }
  }

  @each $type,
  $color in $btn-type-colors {
    &-outline-#{$type} {
      @include button-outline-variant($color);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.#{$btn-prefix-cls}.disabled,
fieldset:disabled a.#{$btn-prefix-cls} {
  pointer-events: none;
}
