@import '../style/functions';
@import '../style/theme';
@import '../style/mixins';

$prefix-cls: 'dashkit-alert';

.#{$prefix-cls} {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: 1px solid transparent;
  border-radius: $alert-border-radius;
  transform-origin: 0 0;
  transition: transform 0.216s, opacity 0.216s ease-out;

  h3, h4, h5 {
    margin-top: 0.3em;
    color: inherit;
    font-size: 16px;
  }

  a {
    font-weight: $alert-link-font-weight;
  }

  &-dismissed {
    opacity: 0;
    transform: scaleY(0);
  }

  &-with-close {
    padding-right: $alert-padding-x + $alert-close-size;
  }

  &-close {
    position: absolute;
    top: $alert-padding-y;
    right: 12px;
    font-size: $alert-close-size;
    color: $alert-close-color;
    transition: color .3s;
    cursor: pointer;

    &:hover {
      color: $alert-close-hover-color;
    }
  }
}

@each $color, $value in $theme-colors {
  .#{$prefix-cls}-#{$color} {
    @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
  }
}
