@import 'dashkit-ui/style/theme.scss';

#app {
  width: 100%;
}

.app {
  &-layout {
    width: calc(100vw - 250px);
    margin-left: 250px;
    overflow: hidden;
  }

  &-footer {
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #f9fbfd;
    text-align: center;
  }

  &-content {
    position: relative;
    padding: 24px;
    min-height: calc(100vh - 72px - 36px);
    background-color: #fff;

    code {
      margin: 0 1px;
      padding: .2em .4em;
      border: 1px solid #eee;
      background-color: #f2f4f5;
      border-radius: 3px;
      font-size: .9em;
      color: #95aac9;
    }

    code[class*="language-"] {
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;
      border-radius: 0;
    }
    code[class*="language-"],
    pre[class*="language-"] {
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5;
      tab-size: 2;
      hyphens: none;
      color: #ccc;
    }

    pre[class*="language-"] {
      padding: 16px 24px;
      margin-bottom: 0;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    :not(pre)>code[class*="language-"],
    pre[class*="language-"] {
      background-color: #12263f;
    }

    :not(pre)>code[class*="language-"] {
      padding: .1em;
      border-radius: .3em;
      white-space: normal;
    }

    .token.comment,
    .token.block-comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: #999;
    }

    .token.punctuation {
      color: #569cd6;
    }

    .token.tag,
    .token.attr-name,
    .token.namespace,
    .token.deleted {
      color: #e2777a;
    }

    .token.function-name {
      color: #6196cc;
    }

    .token.boolean,
    .token.number,
    .token.function {
      color: #f08d49;
    }

    .token.property,
    .token.class-name,
    .token.constant,
    .token.symbol {
      color: #569cd6;
    }

    .token.selector,
    .token.important,
    .token.atrule,
    .token.keyword,
    .token.builtin {
      color: #cc99cd;
    }

    .token.string,
    .token.char,
    .token.attr-value,
    .token.regex,
    .token.variable {
      color: #7ec699;
    }

    .token.operator,
    .token.entity,
    .token.url {
      color: #67cdcc;
    }

    .token.important,
    .token.bold {
      font-weight: bold;
    }

    .token.italic {
      font-style: italic;
    }

    .token.entity {
      cursor: help;
    }

    .token.inserted {
      color: green;
    }

    table {
      line-height: 1.8
    }

    table {
      width: 100%;
      background-color: transparent;
      vertical-align: middle;
      background-color: #fff;
    }

    th {
      padding: 15px;
      text-align: inherit;
      font-weight: 600;
      letter-spacing: .08em;
      color: $table-head-color;
      border-top: 1px solid $table-border-color;
      border-bottom: 1px solid $table-border-color;
      background: $table-head-bg;
      font-size: $font-size-sm;
    }

    td {
      padding: 15px;
      vertical-align: top;
      font-size: 15px;
      border-bottom: 1px solid $table-border-color;
    }

    h2, h3, h4, h5 {
      margin-top: 32px;
      margin-bottom: 12px;
      color: $gray-800;
    }

    p {
      margin-top: 6px;
      margin-bottom: 16px;
      color: $text-color;
    }
  }
}

.page-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.api-container {
  overflow-x: auto;
  white-space: nowrap;

  table {
    empty-cells: show;
    border-collapse: collapse;
  }
}

@media only screen and (min-width : 320px) and (max-width : 568px) {
  .app-layout {
    width: 100%;
    margin-left: 0;
  }

  .app-content {
    padding: 12px 12px 0;
  }

  table {
    line-height: 1.5 !important;
  }

  th, td {
    white-space: nowrap;
  }
}