@import 'dashkit-ui/style/theme.scss';

#app {
  width: 100%;
}

.app {
  &-layout {
    width: calc(100vw - 250px);
    margin-left: 250px;
    overflow: hidden;
  }

  &-footer {
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #f9fbfd;
    text-align: center;
  }

  &-content {
    position: relative;
    padding: 24px;
    min-height: calc(100vh - 72px - 36px);
    background-color: #fff;

    code {
      margin: 0 1px;
      padding: .2em .4em;
      border: 1px solid #eee;
      background-color: #f2f4f5;
      border-radius: 3px;
      font-size: .9em;
      color: #95aac9;
    }

    table {
      line-height: 1.8
    }

    table {
      width: 100%;
      background-color: transparent;
      vertical-align: middle;
      background-color: #fff;
    }

    th {
      padding: 15px;
      text-align: inherit;
      font-weight: 600;
      letter-spacing: .08em;
      color: $table-head-color;
      border-top: 1px solid $table-border-color;
      border-bottom: 1px solid $table-border-color;
      background: $table-head-bg;
      font-size: $font-size-sm;
    }

    td {
      padding: 15px;
      vertical-align: top;
      font-size: 15px;
      border-bottom: 1px solid $table-border-color;
    }

    h2, h3, h4, h5 {
      margin-top: 32px;
      margin-bottom: 12px;
      color: $gray-800;
    }

    p {
      margin-top: 6px;
      margin-bottom: 16px;
      color: $text-color;
    }
  }
}

.page-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.api-container {
  overflow-x: auto;
  white-space: nowrap;

  table {
    empty-cells: show;
    border-collapse: collapse;
  }
}

@media only screen and (min-width : 320px) and (max-width : 568px) {
  .app-layout {
    width: 100%;
    margin-left: 0;
  }

  .app-content {
    padding: 12px 12px 0;
  }

  table {
    line-height: 1.5 !important;
  }

  th, td {
    white-space: nowrap;
  }
}