#app {
  width: 100%;
}

.app-layout {
  width: calc(100vw - 250px);
  margin-left: 250px;
  overflow: hidden;
}

.app-content {
  position: relative;
  min-height: calc(100vh - 72px - 36px);
  // background-color: #dfecfa;
  background-color: #fff;
}

.app-footer {
  padding-bottom: 15px;
  background-color: #f9fbfd;
  text-align: center;
}

.page-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.page-container {
  width: 100%;
  padding: 24px;
}

.page-subtitle {
  margin-top: 6px;
  margin-bottom: 0;
  color: #95aac9;
}

.page-header {
  padding-bottom: 24px;
  // border-bottom: 1px solid #e3ebf6;
}

.module-title {
  margin-bottom: 6px;
}

code {
  margin: 0 1px;
  padding: .2em .4em;
  border: 1px solid #eee;
  background-color: #f2f4f5;
  border-radius: 3px;
  font-size: .9em;
  color: #95aac9;
}

table {
  line-height: 1.8
}