#app {
  width: 100%;
}

.app-layout {
  margin-left: 250px;
}

.app-content {
  position: relative;
  background-color: #f9fbfd;
}

.app-footer {
  padding-bottom: 24px;
  background-color: #f9fbfd;
  text-align: center;
}

.page-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.page-container {
  width: 100%;
  padding: 24px;
}

.page-subtitle {
  margin-top: 6px;
  margin-bottom: 0;
  color: #95aac9;
}

.page-header {
  padding-bottom: 24px;
  // border-bottom: 1px solid #e3ebf6;
}

.module-title {
  margin-bottom: 6px;
}