@import '../style/functions';
@import '../style/theme';
@import '../style/mixins';

$prefix-cls: 'dashkit-input';

.#{$prefix-cls} {
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  outline: 0;
  font-size: $font-size-base;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;
  border-radius: $border-radius;
  transition: $input-transition;

  &:focus {
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    box-shadow: $input-box-shadow, $input-focus-box-shadow;
  }

  &:hover {
    border-color: $input-hover-border-color;
  }

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    opacity: 1;
    cursor: not-allowed;

    &:hover {
      border-color: $input-border-color;
    }

    &:focus {
      border-color: $input-border-color;
      box-shadow: none;
    }
  }
}