.input {
  width: 185px;
  height: 34px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  color: #555;
  border-radius: 3px;
  font-size: 14px;

  &::placeholder {
    opacity: 1;
    color: #999;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }

  &:focus {
    outline: 0;
  }
}

.input-disabled {
  cursor: not-allowed;
  background-color: #eceeef;
  color: #bbb;

  &:hover {
    background-color: #fff;
  }
}