.dashkit-layout {
  display: flex;
  flex-direction: column;
  flex: auto;
  background-color: #fff;

  * {
    box-sizing: border-box;
  }
}

.dashkit-layout-has-sidebar {
  flex-direction: row;
}

.dashkit-layout-header {
  flex: 0 0 auto;
  background-color: #fff;
  height: 66px;
  line-height: 66px;
}

.dashkit-layout-content {
  flex: auto;
}

.dashkit-layout-footer {
  flex: 0 0 auto;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}

.dashkit-layout-sidebar {
  width: 250px;
}
