@import '../style/functions.scss';
@import '../style/theme.scss';
@import '../style/mixins.scss';

$layout-prefix: 'dk-layout';

.#{$layout-prefix} {
  display: flex;
  flex-direction: column;
  flex: auto;
  background-color: #fff;

  &-has-sidebar {
    flex-direction: row;
  }

  &-header {
    flex: 0 0 auto;
    background-color: #fff;
    height: 66px;
    line-height: 66px;
  }

  &-content {
    flex: auto;
  }

  &-footer {
    flex: 0 0 auto;
    background-color: #fff;
  }

  &-sidebar {
    width: 200px;
  }
}